<h2 class="mt-4">Welcome!</h2>
<h5>Please select an option that applies to you.</h5>
<br>

<%= link_to "Teacher Login", teacher_login_path, class: "btn btn-primary" %>

<%= link_to "Student Login", student_login_path	, class: "btn btn-secondary" %>

<%= link_to "Create Account", create_path, class: "btn btn-success" %>

